<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body id="body">
    <%- include("../partials/header.ejs") %>
    <main>
        <div>
            <a href="/user/logout"><button style="color: red">Logout</button></a>
            <a href="/guardian"><button>Back to Main</button></a><br>
            <a href="/guardian/newFashion"><button>Create a new Fashion</button></a>
            <% for (guardianFashion of guardianFashion) { %>
            <article>
                <a href="/guardian/fashion/<%= guardianFashion._id %>"><img src="<%=guardianFashion.url %>" alt="its broken" id="thumbnail"><h2> <%= guardianFashion.fashionName %></a></h2><br>
                 

            </article>
            <% } %>
        </div>
    </main>
</body>

</html>